node_modules/
**/resources/static/assets/uploads/
backend/app/config/app.config.yaml
backend/app/config/auth.config.yaml
backend/app/config/db.config.yaml
backend/app/config/mail.config.yaml
backend/app/views/*
!backend/app/views/.gitkeep
yarn.lock
.env
stats.html
boxvault.p5m.gen
boxvault.mog
boxvault_repo/
.github/workflows/old
backend/app/config/ssl/private.key
backend/app/config/ssl/public.crt
ROADMAP.md
mail.dev.config.yaml
db.dev.config.yaml
auth.dev.config.yaml
app.dev.config.yaml
setup.token