// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Custom styles
.btn-dark {
    --bs-btn-border-color: #807769;
}

.list {
  text-align: left;
  max-width: 90vw;
  margin: auto;
}

// Fix for focus outline
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

// Fix for text size adjust
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
