// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Custom styles
.btn-dark {
    --bs-btn-border-color: #807769;
}

.list {
  text-align: left;
  max-width: 90vw;
  margin: auto;
}

// Fix for focus outline
*:focus {
  outline: none !important;
}

*:focus:not(:focus-visible) {
  box-shadow: none !important;
}

// Fix for text size adjust
html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

// Fix for Firefox focus ring
::-moz-focus-inner {
  border: 0;
}
