// Prevent FOUC
html {
  visibility: visible;
  opacity: 1;
}

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Custom styles
.btn-dark {
  --bs-btn-border-color: #807769;
}

.list {
  text-align: left;
  max-width: 90vw;
  margin: auto;
}

// Focus handling
button:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

// Mobile text size handling
html,
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Firefox button focus fix
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Navbar dropdown icon alignment
.navbar .dropdown-item {
  display: flex !important;
  align-items: center;

  svg,
  img {
    flex-shrink: 0; // Prevent icons from shrinking
    line-height: 1; // Remove extra spacing
  }

  span {
    line-height: 1; // Match text line-height to icon height
  }
}
